body {margin:0;}


.sidenav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #c0c0c0;
  width: 200px;
  height: 100%;
  overflow: auto;
  border-radius: 0px 0px 15px 15px;
}

.sidenav li a {
  top: 10%;
  color: black;
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  
}

.sidenav a:hover {
  background-color: #333;
}

.sidenav a.active {
  background-color: #333;
  color: black;
}

.sidenav li:last-child {
  border-bottom: none;
}



.text{
    text-align:center;
	position: absolute;
    margin-left:520px;
	margin-right:20px;
    top: 10%;
}

.text li{
	list-style-type: none;
}
.text li a{

	
	background-color: #333;
	top: 10%;
    border-bottom: 1px solid #555;
    color: white;
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;

}

.text li a:hover{
	background-color: #c0c0c0;
	color: black;
}

.topEdges{
	 border-radius: 15px 15px 0px 0px;
}

.bottomEdges{
  border-radius: 0px 0px 15px 15px;
}
.allEdges{
	border-radius: 15px 15px 15px 15px;  
}
