body {margin:0;}

.sidenav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #8b0000;
  border: 1px solid #555;
  width: 200px;
  height: 100%;
  overflow: auto;
  position: absolute;
}


.sidenav li a {
  top: 10%;
  border-bottom: 1px solid #555;
  color: white;
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  
}

.sidenav a:hover {
  background-color: #333;
}

.sidenav a.active {
  background-color: #111;
}

.sidenav li:last-child {
  border-bottom: none;
}



.bodyContainer{
    width: 50%;
    margin: auto;
    margin-top: 50px;
}
