body {margin:0;}


.sidenav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #8b0000;
  border: 1px solid #555;
  width: 200px;
  height: 100%;
  position: absolute;
  overflow: auto;
}

.sidenav li a {
  top: 10%;
  border-bottom: 1px solid #555;
  color: white;
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  
}

.sidenav a:hover {
  background-color: #333;
}

.sidenav a.active {
  background-color: #111;
}

.sidenav li:last-child {
  border-bottom: none;
}


.sidenav a.sublist{
  background-color: #333;
  width: 200px;
  font-size:15px;
  
}

.sidenav a.sublist:hover{
  background-color: #444;
  
}




.row{
  display: flex;
  flex-direction: row;
  margin-left: 250px;
  margin-top: 50px;
}

.img-with-text{
  margin-right: 40px;
}

.grayBodyContainer{
    margin-left: 200px;
    text-align:center;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: gray;
    flex-direction: column;
    height: 100%;
  }

  iframe {
      margin-top: 5%;   
  }

  .grayBodyContainer p{
      width: 65%;
      color: black;
      margin-top: 3%;
  }