@font-face {
    font-family: 'OldLondon';
    src: url('/~levymaty/assets/OldLondon.ttf');
    src: url('/~levymaty/assets/Olondona.otf');
}

* {
    font-family: 'OldLondon';
    font-size: 30px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
}

.topnav {
    display: flex;
    background-color: #333;
    width: 100%; 
  }
  
  .topnav a {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 25px;
  }

  .topnav :last-child {
      margin: auto;
      margin-right: 20px;
  }

  
  .topnav a:hover {
    background-color: #111;
  }
  
  .topnav a.active {
    background-color: #8b0000;
  }
  
  .topnav a.chatLink{
      float: right;
      margin-right: 20px;
  }
  

  .bodyContainer{
    text-align:center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#loggedin{
  margin: auto;
  margin-right: 20px;
}




