<!DOCTYPE html>
<?php
	session_start();
?>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link 
	rel = "stylesheet"
	type = "text/css"
	href = "/~levymaty/css/global.css"
	/>

    <title>Document</title>
</head>
<body>
    <h1>Uh oh! How unfortunate! <br><br>
        Oh! How unfortunate!<br><br>
        I know how much you like to fight,<br><br>
        So I'll add a new problem to your night!<br><br>
    </h1>
</body>
</html>


