<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link 
	rel = "stylesheet"
	type = "text/css"
	href = "../css/global.css"
	/>
<link 
	rel = "stylesheet"
	type = "text/css"
	href = "../css/about.css"
	/>
</head>


<div class="topnav">
 <a href="./homepage.html">Home</a>
  <a class="active" href="./about.html">About Me</a>
  <a href="./whats_new.html">What's New</a>
  <a href="./gallery.html">Gallery</a>
  <a href="./git.html">Git</a>
  <a href="./contact.html">Contact</a>
  <a class="chatLink" href="./login.html">Login</a>
</div>

<div class="text" style="padding-left:20px padding-right:20px">
	<article>
		<h1>A very brief Introduction</h1>
		<p>I am a 21 year old university student, attending the Czech Technical University in Prague. I am bilinugal, my mother being Czech and my father American. 
		   I grew up in the Czech Republic, in an age when my country was experiencing major cultural growth.
		   The soviet union had fallen years before, and our culture was slowly coming towards that of the western world. 
		   At that time, our media was about 5 years behind that of the US, 
		   so even though my child hood was mostly in the early 2000's, the culture arund me was more akin to that of the late 90's.</p>
		<h1>What are my hobbies?</h1>
		<p>I love videogames, comics, manga, anime, youtube and progamming. Expect many refferences throughout this blog.</p>
		<h1>Why make a blog?</h1>
		<h3>To get laid, duh!</h3>
		<p>Nah, all joking aside, I had to pick a project for a subject at school, and making a personal blog seemed like the most usefull one. 
		After all, I can use it for my carrer, or just write random articles. Idk, I think it will be fun. Also, those Square Space adds? C'mon, I love learning new skills, why would
		I want to use a serviece that would take away the fun of learning how to make a personal blog from scratch? Soooo....I guess it was also a response to a challange I concocted based
		on SquareSpace adds? Yeah, let's go with that ;-)</p>
		<h1>What are my goals?</h1>
		<p>Ever since I was a child, I have always loved videogames. I grew up playing many point-and-click windows games (the ones I remember the most were some Magic School Bus 
		   and Arthur ones). Later on, I played many Pokemon games, as well as rom hacks. I would say that this was the thing that lit the flame of my desire to create something.
		   Now, obviously, there are many rom hacks out there, not to mention full fledged fan games based on many different IP's. But when you are a kid, your curriosity is a 
		   powerful force. The coolest thing about rom hacks was their air of mystery. They were often sold in thrift shops, or markets, 
		   and many of my fellow class-mates played them. All the cool kid's brought their GameBoy Advanced systems to school,
		   and braged about thir newes pokemon success. Smart phones werent a thing, and we weren't great at using the internet yet, so rumors spread like wild fire, 
		   with no way of disproving them (Till this day, I hope to encounter a Richu in veridian forest, regardles of what bulbapedia says I can find there!).</p>
		<p>But no rumors were as popular, as those concerning the origin of Pokemon. Imagine, if you will, a groupe of 10 year old kids, coming across a game called Pokemon Diamond. 
			No, not the DS game. It was a rom for the GameBoy Color.
		   Today, a simple google search will tell you that it was, in fact, a knock-off of a japaneese game called Keitai Denjū Telefang Power version. 
		   However, to us, this was the lost link. Missingno.? Mew bihind the S.S.Anne Truck? Hah, those were nothing! Move over, noobs, there's a new conspiracy in town! 
		   The truth about Pokemon. The story that GameFreak hid from us. The lost games, that were pulled, but some managed to get out, into the world. 
		   Needless to say, we were hyped. Of course, the game was nothing special. But what it ment to us, was.</p>
		<p>Over the years, we had encounterd many other rom hacks, and grew our fascination with these hidden stories. Though with the years, our age's grew as well, 
			and soon, the mystery and hype surrounding rom hacks vanished. But not for me. Even after I figured out what rom hacks are, 
			I was enthralled. What other stories did fans of pokemon come up with? What other pokemon games can I play on my phone? So I learnd about emulators,
			I played many fan games and had experiences that only those who went on a simmilar quest would understand (Pokemon snakewood, anyone?). 
			These stories, these games, these legends, they were crafted by fans of the real games. People so passionate, they spent sometimes years of their lives creating them. 
			And so, I wanted to join them.</p>
		<p>However, despite having ideas, I lacked the skill. I cannot draw very well, though these days I try to improve in this regard. 
		   And at the time, I was a code monkey, having no clue about what programming was, and just doing what was described in tutorials. 
		   I gave up on making a fan game in about a week (That's right, folks, Pokemon: Magicarp Version will probably never see the light of day). 
		   But I started playing other games, and my ideas grew beyond that of a fan game. I now have many ideas for new games, IP's entrirelly of my own. 
		   Stories and gameplay that I know a younger me would enjoy. So I wish to create them. Learn how to draw beeter art. Learn how to program. 
		   Learn how to make my own game. And I will.</p>
		<p>That being said, the world of rom hacks gave me other interests as well. I found out that hacking is something I found fascinating, 
			and that I trully admire people who created the emulator I used.
			This led to me trying to root my android phone. Which led to me wanting to understand the system better. And to be able to use it however I want to. 
			And so, here I am, a Junior Android Developer!</p> 
			
		<h1>Are you an Emo/Goth/Punk/Metal Head/Wierdo etc.?</h1>
		<p><b>The last one, lol.</b> Idk, I just dress in a way that I find cool, and that I feel allows me to express myself best in a given moment. Let's not put a label on it, k?</p>
		<h1>Are you a furry?</h1>
		<p>...Interview's over</p>
		
	</article>

</div>


</body>
</html>