<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link 
	rel = "stylesheet"
	type = "text/css"
	href = "/~levymaty/css/global.css"
	/>
	<link 
	rel = "stylesheet"
	type = "text/css"
	href = "/~levymaty/css/gallery.css"
	/>
</head>


<div class="topnav">
  <a href="./homepage.html">Home</a>
  <a href="./about.html">About Me</a>
  <a href="./whats_new.html">What's New</a>
  <a class="active">Gallery</a>
  <a href="./git.html">Git</a>
  <a href="./contact.html">Contact</a>
  <a class="chatLink" href="./login.html">Login</a>
</div>

<div class="sidenav">
	<ul>
		<li><a class="active" href="C:\Users\czech\Documents\WebDev\gallery.html">Intro</a></li>
		<li><a href="C:\Users\czech\Documents\WebDev\gallery-gallery.html">Image Gallery</a></li>
		<li><a href="C:\Users\czech\Documents\WebDev\gallery-stories.html">Writing</a></li>
	</ul>
	
</div>

<div class="text" style="padding-left:16px">
	<p>
	<b>My art (and writing) sucks, but I am trying to improve. Why post it online? Cause with everithing I do, I like to look back at my old works, and see for myself wheter or not I have improved.</b>
	</p>
	<img src="C:\Users\czech\Documents\WebDev\levyaton.gif" alt="Levyaton">

</div>


</body>
</html>